.content
 #stars
 #stars2
 #stars3
 #title
 .content__side
  .content__side__user
   = link_to edit_user_path(current_user) do
    edit
    %br
    = fa_icon "user"
  .content__side__total
   = link_to moneys_path do
    Total
    %br
    = fa_icon "coins"
  .content__side__calender
   = link_to meetings_path do
    Calendar
    %br
    = fa_icon "calendar-week"
  -# .content__side__comment
  -#  = link_to root_path do
  -#   Memo
  -#   %br
  -#   = fa_icon "pen"
 .content__side2
  .content__side2__year
 .content__box
  = month_calendar events: @meetings do |date, meetings|
   = link_to meeting_path(date, meetings) do
    = date.day
    