.content
 .content__side
  .content__side__user
   = link_to edit_user_path(current_user) do
    edit
    %br
    = fa_icon "user"
  .content__side__total
   = link_to root_path do
    Total
    %br
    = fa_icon "coins"
  .content__side__comment
   = link_to root_path do
    Memo
    %br
    = fa_icon "pen"
  .content__side__calender
   = link_to root_path do
    Calender
    %br
    = fa_icon "calendar-week"
 .content__box
  .content__box__date
   = Date.current.to_s(:ymd)
  .content__box__spend
   本日の支出
  .content__box__speces1
   .content__box__speces1__one
    = @foodname
    = @food1
    = @food2
   %br
   .content__box__speces1__two
    = @dailynecessitiesname
    = @dailynecessities1
    = @dailynecessities2
   %br
   .content__box__speces1__three
    = @texname
    = @tex1
    = @tex2
   %br
  .content__box__income
   本日の収入
  .content__box__speces2
  